.parrents{
    border: 3px solid gray;
    display: flex;
    gap: 30px;
    width: 200px;
    height: 200px;
    justify-content: center;
}

.div1{
    background-color: red;
    width: 30px;
    height: 30px;
    align-items: center;
    color: white;
    
}

#first{
    flex-direction: row;
}

#second{
    flex-direction: column;
}

#third{
    flex-direction: row-reverse;
}

#fourth{
    flex-direction: column-reverse;
}