*{
    margin: 0;
    padding: 0;
}


body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}


#stats{
    background-color: hsl(0, 0%, 12%);
    width: 350px;
    height: 600px; 
    border-radius: 2%;
    
}

#text{
    text-align: center;
    margin: 0px;
}

#textimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}


#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1{
    color: white;
    font-weight: 400;
}

h4{
    color: hsl(75, 94%, 57%);
}

button{
    width: 300px;
    height: 45px;
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}

button:hover{
    background-color: hsl(75, 94%, 57%);
    color: black
}

p{
    color: white;
}