@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Barlow", sans-serif;
}


/* site body */


#body{
    height: 1870px;
    display: flex;
    justify-content: center;
}


/* everything on site */
#itembox{
    width: 77.083333333333%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#rectangle1{
    width: 133px;
    height: 240px;
    background-color: #E8EFF2;
    position: absolute;
    top: 196px;
    right: 0;
    border-radius: 20px 0 0 20px;
}

#rectangle2{
    width: 133px;
    height: 236px;
    background-color: #E8EFF2;
    position: absolute;
    left: 0;
    top: 950px;
    border-radius: 0 20px 20px 0;
}

/* first part of site */
#group1{
    height: 58px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 55px;
}

/* rectangle TM */
#rectangle{
    width: 40px;
    height: 40px;
    background-color: #F16718;
    position: relative;
    top: 9px;
}

#TM{
    position: absolute;
    top: 6px;
    left: 5px;
}

/* pre-order button */


#preorderbutton{
    background-color: #E8EFF2;
    width: 175px;
    height: 58px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

#preorderbutton:active{
    background-color: #162542;
    color: white;
    transition: 0.1s;
}

/* second line of site */


/* textbox */

#fullgroup2{
    position: relative;
    top: 138px;
}

#group2{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
    top: 0;
}

#textbox0{
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 312px;
    gap: 40px;
}

#textbox01{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#buttonbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

#preorderbutton2{
    border: none;
    background-color: #F16718;
    width: 175px;
    height: 58px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: white;
}

#preorderbutton2:active{
    transition: 0.1s;
    background-color: #FF9B62;
}

#releasedate{
    color: #7B8BAD;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

#typemaster{
    font-weight: 900;
    line-height: 56px;
    font-size: 56px;
    color: #162542;
}

#improve{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #7B8BAD;
}

/* keyboard image */

#img1{
    border-radius: 20px;
    position: relative;
    right: 0;
}

/* third site line */

#img2{
    position: absolute;
    top: 706px;
    width: 255px;
    border-radius: 20px;
}

#img3{
    position: absolute;
    top: 706px;
    left: 500px;
    width: 445px;
    border-radius: 20px;
}

#group3{
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 265px;
    gap: 27px;
    position: absolute;
    top: 818px;
    left: 1320px;
}

#wireless{
    color: #162542;
    font-size: 32px;
    line-height: 36px;
    font-weight: 900;
}

#p2{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

/* final */

#bottomdivs{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 830px;
    justify-content: space-between;
}

.divs{
    width: 255px;
    height: 323px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.imgdivs{
    background-color: #F16718;
    border-radius: 16px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h3s{
    color: #162542;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

.ps{
    color: #7B8BAD;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.textdivs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* finalllll */

#lastpart{
    position: absolute;
    top: 1805px;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 830px;
}

#p1{
    color: #7B8BAD;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

#p11{
    font-weight: 500;
    color: #7B8BAD;
    line-height: 26px;
    font-size: 16px;
    white-space: ;
}