table{
    width: 400px;
}

th{
    background-color: yellow;
    text-align: right;
    font-weight: 700;
}

tr{
    height: 26px;
}

hr{
    width: 400px;
}

#ninjaA{
    background-color: rgb(255, 182, 193);
    text-align: center;
}

h3{
    font-weight: 300;
}

#n{
    font-weight: 700;
    text-align: center
    ;
}