/* box model - არის ყუთი რომელშიც შეგვიძლია დავარეგულიროთ ზომა და სივრცე საიტზე.
            ნებისმიერი ჰტმლ თეგი არის ყუთი რომელშიც არის ფენები - content padding border და margin

content - შიგნით ჩაიწერება ზირითადი რაგაცეები მაგალითად - ტექსტი, სურათი და ა.შეგვიძლია

padding - სივრცეა რომელიც მდებარეობს content-ის და border-ის შორის

border - ხაზია რომელიც შემოსაზღვრავს padding-ს და content-ს და შეგვიძრია შევუცვალოთ სისქე ფერი და სტილი

margin - არის გარე საზღვარი */


/* CSS reset - ყველა ცსს ელემენტის ნაკრები
               და გვეხმარება სტილების განულებაში ან გათანაბრებაში  */

*{
    margin: 0;
    padding: 0; 
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
}

#parent{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 40%;
    background-color: wheat;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
    margin: 1%;
}

#id1{
    background-color: red;
    width: 15%;
    height: 30%;
    margin: 5%;

}

#id2{
    background-color: orange;
    width: 15%;
    height: 40%;
    margin: 5%;

}

#id3{
    background-color: yellow;
    width: 15%;
    height: 50%;
    margin: 5%;
}

#id4{
    background-color: green;
    width: 15%;
    height: 40%;
    margin: 5%;
}

#id5{
    background-color: blue;
    width: 15%;
    height: 30%;
    margin: 5%;
}

/* second box */

#parent1{
    display: flex;
    flex-direction: row-reverse;
    height: 40%;
    width: 40%;
    background-color: wheat;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
    margin: 1%;
}

#id11{
    background-color: red;
    width: 15%;
    height: 30%;
    margin: 5%;

}

#id22{
    background-color: orange;
    width: 15%;
    height: 40%;
    margin: 5%;

}

#id33{
    background-color: yellow;
    width: 15%;
    height: 50%;
    margin: 5%;
}

#id44{
    background-color: green;
    width: 15%;
    height: 40%;
    margin: 5%;
}

#id55{
    background-color: blue;
    width: 15%;
    height: 30%;
    margin: 5%;
}
