@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Figtree", sans-serif;
}

#body{
    background-color: #f5d04e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    border-radius: 10px;
    height: 510px;
    width: 380px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 7px 6px;
}

#content{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 29px;
}

#img1{
    border-radius: 8px;
}

button{
    border: none;
    height: 27px;
    width: 80px;
    background-color: #f9cf48;
    border-radius: 5px;
    font-weight: bold;
}

#found{
    font-size: 23px;
    font-weight: bold;
}

#h5{
    color: gray;
    font-size: medium;
    font-weight: 400;
}

#texts{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#date{
    font-size: 13px;
}

#profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    
}

#pfp{
    width: 29px;
}