@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

#page{
    height: 100vh;
    background-color: #f3eae3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    background-color: white;
    height: 58%;
    width: 36%;
    border-radius: 10px;
}

#info{
    height: 100%;
    display: flex;
    flex-direction: row;
}

#image1{
    height: 100%;
    width: 50%;
    border-radius: 10px 0px 0px 10px;
}

#texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#perfume{
    font-size: small;
    font-weight: 300;
    color: hsl(228, 12%, 48%);
    letter-spacing: 7px;
}

#h1{
    font-weight: bold;
    font-family: "Fraunces", serif;
    line-height: 1.05;
}

#par1{
    font-weight: 300;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    line-height: 1.6;
}

#prices{
    display: flex;
    flex-direction: row;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#newprice{
    color: #3d8168;
    font-size: xx-large;
    font-family: "Fraunces", serif;
    font-weight: bold;
}

#oldprice{
    color: hsl(228, 12%, 48%);
    font-size: medium;
    text-decoration: line-through solid hsl(228, 12%, 48%);
}

#button{
    border: none;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    height: 48px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#button:active{
    background-color: hsl(158, 42%, 18%);

}

#sized{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#img{
    width: 18px;
}

#buy{
    display: flex;
    flex-direction: column;
    gap: 30px;
}