@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}



#main{
    background-color: #19a1ae;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




#box{
    width: 385px;
    height: 411px;
    background-color: white;
    border-radius: 20px;
}

#itembox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


#img1{
    width: 100%;
}


#img2{
    border-radius: 50%;
    width: 105px;
    border: 6px solid white;
    margin-top: -57.5px;
    margin-bottom: 15px;
}

#case{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

#namenum{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#name{
    font-weight: bold;
    font-size: 18px;
    color: #2E3349;
    
}

#number{
    font-weight: 400;
    font-size: 18px;
    color: #6B7082;
}

#city{
    font-weight: 400;
    font-size: 14px;
    color: #6B7082;
}

#linestats{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

#line{
    background-color: #E8E9EC;
    width: 385px;
    height: 1px;
}

#stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.things{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.nums{
    font-weight: bold;
    font-size: 18px;
    color: #2E3349;
}

.words{
    font-size: 10px;
    color: #6B7082;
    font-weight: 400;
}

