@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: ;
}

#body{
    background-color: #f4d25c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    height: 520px;
    width: 380px;
    background-color: white;
    border-radius: 15px;
    justify-content: space-evenly;
    box-shadow: 7px 7px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content{
    width: 80%;
}

img{
    border-radius: 10px;
}

#learning{
    height: 30px;
    width: 75px;
    border: none;
    background-color: #f4d25c;
    border-radius: 5px;
    font-weight: bold;
}

#text{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#text p{
    font-size: 14px;
    font-weight: 600;
}

#parag{
    font-weight: 400;
    color: gray;
}

#pfp{
    height: 36px;
}

#profile{
    display: flex;
    align-items: center;
    gap: 10px;
}